#user-list{
    display: block ;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    border: solid 1px ddd;
    list-style-type: none;
}

#user-list > li{
    display: block ;
    float: left;
}

#user-list > li.id{
    width: 10%;
    display: none;
}

#user-list > li.fullname{
    width: 20%;
}

#user-list > li.email{
    width: 20%;
}

#user-list > li.phone{
    width: 7%;
}

#user-list > li.class{
    width: 10%;
    text-align: center;
}
#user-list > li.role{
    width: 5%;
}
#user-list > li.allow-login{
    width: 10%;
    text-align: center;
}
#user-list > li.last-login{
    width: 15%;
}


#user-list > li.edit{
    width: 5%;
}
#user-list > li.delete{
    width: 8%;
}
#user-list > li.row-header{
    font-weight: bold;
    border-bottom: solid 1px #ddd;
    background-color: #eee;
}


