div#quiz {
  border: solid 1px #eee;
  min-height: 425px;
  padding: 5px;
  margin-bottom: 5px;
  box-shadow: 1px 1px #ddd;
}

.question-box {
  background-color: white !important;
  display: inline;
  clear: both;
  padding: 0px;
  margin: 0px;
  min-height: 300px;
}

/* Manage questions*/
.questionList {
  display: block;
  list-style-type: none;
  margin: 2px 0;
  padding: 5px 0;
  width: 100%;
  height: auto;
  min-height: 140px;
  border-bottom: double 3px #bbb;
}

.questionList > li {
  display: block;
  float: left;
}
.questionList > li > ul {
  display: block;
  float: left;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 98%;
}

.questionList > li.buttons {
  padding-top: 20px;
  width: 5%;
}

.questionList > li.buttons > a > button,
.questionList > li.buttons > button {
  width: 76px;
  margin-bottom: 15px;
}

.questionList > li.name {
  width: 90%;
}

.optionList {
  width: 100%;
}

.optionList > li {
  display: block;
  float: left;
  width: 100%;
  border-bottom: dotted 1px #ccc;
}
.optionList > li:last-child {
  border: none;
}
.optionList li.list-answer {
  /* background-color: rgb(180, 245, 180); */
  color: green;
  font-weight: bold;
}
.optionList li.list-option {
  /* background-color: rgb(223, 248, 248); */
  font-weight: normal;
}

.btn {
  border-radius: 0;
}

.btn + .btn {
  margin-left: 10px;
}

.option {
  background-color: #eee;
  cursor: pointer;
  font-size: 20px;
  margin: 4px;
  border-radius: 5px 5px 5px 5px;
}

.option label {
  cursor: pointer;
  padding: 5px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

#quiz .options input[type="checkbox"] {
  height: 22px;
  margin-right: 6px;
  width: 22px;
}

.cursor-pointer {
  cursor: pointer;
}

.result-question {
  background-color: #eee;
  margin: 4px;
  padding: 6px;
}

/* Create Quiz Styles */
.create-quiz .question {
  text-align: left;
}

.create-quiz input[type="text"] {
  border: 1px solid #ddd;
  width: 95%;
}

.create-quiz .tb-quiz-name {
  background-color: #ccffcc;
  text-align: center;
}

.create-quiz .tb-desc {
  background-color: #fff;
}

.create-quiz .options > div {
  margin-left: 20px;
}

.create-quiz .options input[type="checkbox"] {
  border: 1px solid #262626;
  display: inline-block;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  width: 20px;
}

@media only screen and (max-width: 480px) {
  h1,
  .h1 {
    font-size: 22px;
  }

  h2,
  .h2 {
    font-size: 20px;
  }

  h3,
  .h3 {
    font-size: 18px;
  }

  .option {
    font-size: 16px;
    padding: 6px;
  }
}

.btn-question-navigation {
  padding: 1px 4px;
  margin: 0px 4px;
  width: 75px;
}
